:root {
  // --card-bg: #bc1e22;
  --card-bg: rgba(255, 255, 255, 0.4);
  --card-content: rgb(23, 23, 23);
  --light-small: rgba(255, 255, 255, 0.06);
  --light-big: rgba(255, 255, 255, 0.4);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: var(--card-bg);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  position: relative;
  flex-grow: 1;
  width: 320px;

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  &::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--light-small), transparent 40%);
    z-index: 3;
  }

  &::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--light-big), transparent 40%);
    z-index: 1;
  }

  & > .card-content {
    background-color: var(--card-content);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 24px 16px;
    position: absolute;
    z-index: 2;
  }
}
