body {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dashed pink;
  }
}

.container {
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid green;
}
