// @import './helper';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa';
  font-size: 20px;
  color: #fff;
  overscroll-behavior-y: none;
}

@layer components {
  @import './cards';

  .scroll-container {
    background-color: #000;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 14px;
    margin: 0 auto;
  }

  .video-shadow {
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 30dvh;
      position: absolute;
      left: 0;
      z-index: 2;
    }
    &::before {
      top: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0.75) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    &::after {
      bottom: 0;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0.75) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
